<div class="banner" style="background-color:gray">
    <h1>Noticias</h1>
    <form action='/noticias' method="get">
        <input type="text" id="search" name="search" placeholder="Search">
        <input type="submit" value="Submit">
    </form>
</div>

<div class="r-g">
{{#each news}}
    
    <div class="r-g row"> 
        <div class="card col-md-3 col-lg-5" >
            <img src={{this.urlToImage}} alt="Article Image"">
            <div class="cardText">
                <h4><b>{{this.title}}</b></h4>
                <p>{{this.author}}</p>
                <p>{{this.source.name}}</p>
                <button type="button" onclick="showModal(this)">Ver más</button>
            </div>
        </div>
    </div>
        

{{/each}}
</div>

<div id="modal">
  <h1>{{this.title}}</h1>
  <p>{{this.description}}</p>
  <p>{{this.content}}</p>
</div>
{{!-- TODO, script para mandar this a modal
showModal(this){
    
} --}}